
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="panel-body">
    <div class="logo mb-4">
        <img src="~/assets/Admin/images/ajashy_logo.png" id="logo" alt="logo">
        <p class="text-center mt-20"><span class="d-block fw-bold mb-10 fs-6">Forgot Password?</span> Enter your email address and we will send a link to reset your password.</p>
    </div>
    <form class="mb-4" method="post" action="~/Login/ForgetPassword/1/1">
        @if (@ViewBag.Message != null)
        {
            <div class="alert alert-danger">@ViewBag.Message</div>
        }
        <div class="mb-4">
            <div class="form-group has-icon-left">
                <input type="email" name="sendTo" class="form-control form-control-lg" placeholder="Email Address">
                <div class="form-control-icon">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary w-100">Reset Password</button>
    </form>
    <p>Remember Password? Back to <a href="/Login">Sign In</a></p>
</div>

