
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- main-content -->
<div class="main-content">
    <div class="panel mb-g">
        <div class="panel-heading">
            <h3>Change Password</h3>
        </div>
        <div class="panel-body">

            <form method="post" onsubmit="return changePassword()" id="change_password">
                <div class="row">
                    <div class="col-sm-12 form-group mb-15">
                        <label for="exampleInputName" class="form-label">Old Password</label>
                        <input type="password" name="opwd" class="form-control form-control-lg" id="exampleInputName" placeholder="Old Password" required>
                    </div>
                    <div class="col-sm-12 form-group mb-15">
                        <label for="exampleInputName" class="form-label">New Password</label>
                        <input type="password" name="npwd" class="form-control form-control-lg" id="exampleInputName" placeholder="New Password" required>
                    </div>
                    <div class="col-sm-12 form-group mb-15">
                        <label for="exampleInputName" class="form-label">Confirm Password</label>
                        <input type="password" name="conpass" class="form-control form-control-lg" id="exampleInputName" placeholder="Confirm Password" required>
                    </div>


                    <div class="col-sm-12  btn-box">
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                        <button type="reset" class="btn btn-lg btn-secondary">Reset</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
    </div>


    <!-- main-content -->
