
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="panel mb-g">
                <div class="panel-heading">
                    <h3>users</h3>
                </div>
                <div class="panel-body">
                    <div class="ecommerce-table">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email ID</th>
                                        <th scope="col">Mobile No.</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tej Singh</td>
                                        <td>tej@vcqru.com</td>
                                        <td>9315742150</td>
                                        <td>Noida</td>
                                        <td>15 May 2021</td>
                                        <td>
                                            <div class="btn-box">
                                                <button class="btn btn-sm btn-success"><i class="bi bi-eye"></i></button>
                                                @*<button class="btn btn-sm btn-success"><i class="bi bi-pencil-square"></i></button>*@
                                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>