<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Login</title>
    <link rel="shortcut icon" href="~/assets/Admin/fav-icon.svg">
    <link rel="stylesheet" href="~/assets/Admin/vendor/bootstrap-icon/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/Admin/vendor/css/simplebar.css">
    <link rel="stylesheet" href="~/assets/Admin/vendor/css/prettify.css">
    <link rel="stylesheet" href="~/assets/Admin/vendor/css/bootstrap.min.css">
    <link id="styles" rel="stylesheet" href="~/assets/Admin/css/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="authentication-area">
            <div class="form-row">
                @*<div class="panel fixed-top p-3">
                    <div class="theme-color text-center">
                        <button class="btn-color color-1" id="color-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Violets Are Blue"></button>
                        <button class="btn-color color-2" id="color-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Lavender Indigo"></button>
                        <button class="btn-color color-3" id="color-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deep Magenta"></button>
                        <button class="btn-color color-4" id="color-4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Blue"></button>
                        <button class="btn-color color-5" id="color-5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Medium Aquamarine"></button>
                        <button class="btn-color color-6" id="color-6" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Orioles Orange"></button>
                        <button class="btn-color color-7" id="color-7" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Maya Blue"></button>
                        <button class="btn-color color-8" id="color-8" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deep Violet"></button>
                        <button class="btn-color color-9" id="color-9" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dark"></button>
                    </div>
                </div>*@
                <div class="panel">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/Admin/vendor/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/Admin/vendor/js/simplebar.min.js"></script>
    <script src="~/assets/Admin/vendor/js/prettify.js"></script>
    <script src="~/assets/Admin/vendor/js/dragula.min.js"></script>
    <script src="~/assets/Admin/vendor/js/bs-dropzone.min.js"></script>
    <script src="~/assets/Admin/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/Admin/js/main.js"></script>
</body>
</html>
