@{
    ViewBag.Title = "About Us || Benitton Bathware";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<!-- header-start -->
<section class="page-header">
    <div class="bg-header">
        <div class="container">
            <div class="row">
                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-8 mx-auto">
                    <div class="position-relative py-5">
                        <div class="header-heading">
                            <h1>About Us</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-breadcrumb">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- header-end -->
<section class="about-us-page">
    <div class="container">
        <div class="aboutus-section">
            <div class="web-heading">
                <h2 class="heading-title">About us</h2>
            </div>
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-first-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-first" type="button" role="tab" aria-controls="pills-first"
                            aria-selected="true">
                        2020-22
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-second-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-second" type="button" role="tab" aria-controls="pills-second"
                            aria-selected="false">
                        2022-23
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-thirt-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-thirt" type="button" role="tab" aria-controls="pills-thirt"
                            aria-selected="false">
                        2023-24
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-first" role="tabpanel"
                     aria-labelledby="pills-first-tab" tabindex="0">
                    <div class="card" style="">
                        <div class="card-body">
                            <h3 class="card-title">2021-22</h3>
                            <ul>
                                <li>Working in the Bathware faucet manufacturing field since 2010, </li>
                                <li>
                                    Brand Benitton was Started in 2021, In Maharashtra & Delhi.
                                    <p>
                                        First Manufacturing Plant was in New Delhi,

                                        Company's Warehousing Was in Pune , Maharashtra
                                    </p>
                                </li>
                                <li>
                                    In Initial of 2021's Started Faucets Manufacturing Faucets (Brass- faucets),

                                    & Started Building Network in All Over Maharashtra.
                                    <p>
                                        Introduced 6 Collection of Faucets ,

                                        along with Showers, & Bathroom Accessories.
                                    </p>
                                </li>
                                <li>
                                    Started with Sales team of 
                                    <p>01. Sales Manager. </p>
                                    <p> 04. Sales Executives. </p>
                                </li>
                                <li>
                                    Expanded Distributor's Network across all over districts of Maharashtra

                                    by 2021's ending
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-second" role="tabpanel" aria-labelledby="pills-second-tab"
                     tabindex="0">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">2022-23</h3>
                            <ul>
                                <li>
                                    In beginnings of 2022 Benitton Started Manufacturing Sanitaryware Products in
                                    Morbi,
                                    Gujrat.
                                </li>
                                <li>Introduced Sanitaryware products & PTMT Faucets in mid of 2022, </li>
                                <li>Get Started to expand towards Karnataka & Rajasthan , </li>
                                <li>
                                    Increased the Sales Team
                                    <p> 02. Sales Managers </p>
                                    <p>07. Sales Persons ++ </p>
                                </li>
                                <li>Conducted Plumber Meets at Dealer & Distributor Level, </li>
                                <li>
                                    Branding Works done (interior and exterior branding) at new Dealers &

                                    distributors of Benitton bathware.

                                </li>
                                <li>Introduced Offers & schemes for our dealers, </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-thirt" role="tabpanel" aria-labelledby="pills-thirt-tab"
                     tabindex="0">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">2023-24</h3>
                            <ul>
                                <li>
                                    Introduced New faucets Series, Bronze - Colors faucet series &

                                    Kitchen Sinks, by the mid of 2023,
                                </li>
                                <li>
                                    Working and Building A Strong Distributor Network in new States

                                    Karnataka , Rajasthan
                                </li>
                                <li>Planning to Expand Business in Goa ,Telangana & A.P, </li>
                                <li>
                                    Planning for New Office in Delhi,
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- mission and vision -->
<section class="mission-vision">
    <div class="container">
        <div class="row row-cols-xxl-3 row-cols-xl-3 row-cols-lg-3 row-cols-md-1 row-cols-1 g-3">
            <div class="col d-flex">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Our Mission</h5>
                        <p class="card-text">
                            Our mission at Benitton Bathware is to deliver top-notch quality at
                            competitive prices across India. We strive to make luxury accessible, ensuring that
                            every customer can experience the highest standards of excellence in their bathroom
                            fixtures and accessories. Our dedication to affordability without compromising on
                            quality is at the core of our vision. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col d-flex">
                <img src="~/assets/img/banner-one.png" alt="img" class="img-fluid">
            </div>
            <div class="col d-flex">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Our Vision</h5>
                        <p class="card-text">The Modern art of Luxury </p>
                        <p class="card-text">
                            At Benitton Bathware, the modern art of luxury is our commitment to fusing current
                            technology and creative artistry to provide the greatest, most affordable luxury
                            bathware items. 
                            We combine innovation and aesthetics to transform ordinary bathrooms into remarkable
                            havens. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
