
@{
    ViewBag.Title = "Privacy || Benitton Bathware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- header-start -->
<section class="page-header">
    <div class="bg-header">
        <div class="container">
            <div class="row">
                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-8 mx-auto">
                    <div class="position-relative py-5">
                        <div class="header-heading">
                            <h1>Privacy Policy</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                        <div class="global-searchbar">
                            <form action="" novalidate class="needs-validation">
                                <div class="form-group">
                                    <input type="search" class="form-control" id="global-searchbar"
                                           placeholder="Search categories, product, etc." required>
                                    <div class="invalid-feedback">
                                        Please enter keywords.
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        <i class='bx bx-search-alt-2'></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-breadcrumb bg-light">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">privay Policy</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- header-end -->
<section class="content-page">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, cupiditate totam necessitatibus eaque repudiandae quia assumenda eius fugiat, consequuntur sapiente placeat facere temporibus distinctio aliquid inventore debitis vero sed obcaecati.</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto ut atque, eaque soluta dicta qui laudantium rem, aperiam delectus reprehenderit, at itaque. Maxime id quam corporis nisi cum, vel rem!</p>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto ut atque, eaque soluta dicta qui laudantium rem, aperiam delectus reprehenderit, at itaque. Maxime id quam corporis nisi cum, vel rem!</p>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto ut atque, eaque soluta dicta qui laudantium rem, aperiam delectus reprehenderit, at itaque. Maxime id quam corporis nisi cum, vel rem!</p>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto ut atque, eaque soluta dicta qui laudantium rem, aperiam delectus reprehenderit, at itaque. Maxime id quam corporis nisi cum, vel rem!</p>
            </div>
        </div>
    </div>
</section>
